#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LAYER1  1
#define LAYER2  2
#define LAYER3  3
#define LAYER4  4

/ {
    behaviors {
        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <100>;
            bindings = <&kp LGUI>, <&kp LALT>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E  &kp R         &kp T               &kp Y      &kp U  &kp I       &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D  &kp F         &kp G               &kp H      &kp J  &kp K       &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V         &kp B               &kp N      &kp M  &kp COMMA   &kp DOT  &kp FSLH  &kp ENTER
                         &mo 2  &kp LEFT_ALT  &kp LEFT_COMMAND    &kp SPACE  &mo 1  &kp ESCAPE
            >;
        };

        layer_1 {
            bindings = <
&kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4     &kp NUMBER_5            &trans     &trans           &trans      &trans  &trans  &trans
&kp LCTRL       &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8    &kp NUMBER_9     &kp NUMBER_0            &trans     &kp RIGHT_SHIFT  &trans      &trans  &trans  &trans
&kp LEFT_SHIFT  &kp MINUS     &kp EQUAL     &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp NON_US_BACKSLASH    &trans     &trans           &trans      &trans  &trans  &kp ENTER
                                            &mo 2           &kp LEFT_ALT     &kp LEFT_COMMAND        &kp SPACE  &mo 1            &kp ESCAPE
            >;
        };

        layer_2 {
            bindings = <
&trans            &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans  &trans        &trans              &kp F1     &kp F2    &kp F3      &kp F4     &kp F5   &kp F6
&kp LEFT_CONTROL  &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &trans  &trans        &trans              &kp F7     &kp F8    &kp F9      &kp F10    &kp F11  &kp F12
&kp LEFT_SHIFT    &trans                &trans                &trans  &trans        &trans              &kp LEFT   &kp DOWN  &kp UP      &kp RIGHT  &trans   &kp ENTER
                                                              &mo 2   &kp LEFT_ALT  &kp LEFT_COMMAND    &kp SPACE  &mo 1     &kp ESCAPE
            >;
        };
    };
};
